.header{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    color: orangered;
}
.logo{
    width: 75px;
    border-radius: 10px;
    margin-right: 20px;
}

.subtitle{
    margin-top: 20px;
}